<div class="container pt-5 mt-5">
  <div class="mx-auto mt-2 text-center" style="width: 300px; height: 50px">
    <h4 style="font-family: cursive">&nbsp; Contact me</h4>
  </div>
  <div class="row">
    <div class="col-md-6 col-12">
      <form action="#" class="w-80 pt-4">
        <div class="form-group mb-3">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" />
        </div>
        <div class="form-group mb-3">
          <label for="email">Email address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            aria-describedby="emailHelp"
          />
          <small id="emailHelp" class="form-text text-muted"
            >We'll never share your email with anyone else.</small
          >
        </div>

        <div class="form-group">
          <label for="exampleFormControlTextarea2">Example textarea</label>
          <textarea
            class="form-control"
            id="exampleFormControlTextarea2"
            rows="3"
          ></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="col-md-6 col-12 pt-5">
      <div class="row">
        <div class="col-12 col-lg-12">
          <div class="card bg-primary shadow-inset border-light pt-3">
            <div class="card-body p-3">
              <div class="shadow-inset rounded">
                <iframe
                  class="rounded"
                  width="100%"
                  height="300"
                  id="gmap_canvas"
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3733.4809191903605!2d85.61063641417309!3d20.65000450597778!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a191f7b791f0e1f%3A0x2ec445bce9ccec1e!2sThe%20Ray%E2%80%99s%20House!5e0!3m2!1sen!2sin!4v1626804518739!5m2!1sen!2sin"
                ></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
