<div class="row">
    <div class="main-timeline">
      <div class="timeline">
        <a href="#" class="timeline-content">
          <div class="timeline-year">2021</div>
          <h3 class="title">Web Designing</h3>
          <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer males uada tellus lorem, et condimentum neque commodo Integer males uada tellus lorem, et condimentum neque commodo
          </p>
        </a>
      </div>
      <div class="timeline">
        <a href="#" class="timeline-content">
          <div class="timeline-year">2020</div>
          <h3 class="title">Web Development</h3>
          <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer males uada tellus lorem, et condimentum neque commodo Integer males uada tellus lorem, et condimentum neque commodo
          </p>
        </a>
      </div>
      <div class="timeline">
        <a href="#" class="timeline-content">
          <div class="timeline-year">2019</div>
          <h3 class="title">Java Script</h3>
          <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer males uada tellus lorem, et condimentum neque commodo Integer males uada tellus lorem, et condimentum neque commodo
          </p>
        </a>
      </div>
      <div class="timeline">
        <a href="#" class="timeline-content">
          <div class="timeline-year">2018</div>
          <h3 class="title">Web Designing</h3>
          <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer males uada tellus lorem, et condimentum neque commodo Integer males uada tellus lorem, et condimentum neque commodo
          </p>
        </a>
      </div>
    </div>
  </div>