<div class="container">
    <div class="mx-auto mb-5 mt-5 text-center" style="width: 300px;height: 50px;">
        <h4 style="font-family: cursive">&nbsp;Hobby</h4>
    </div>
    <div class="row">
        <div class="col-12 col-md-2">
            <div class="card bg-primary border-light shadow-soft">
                <img src="https://raw.githubusercontent.com/NishikantaRay/Nishikantaray.github.io/main/img/cards.jpeg" class="card-img-top rounded-top" alt="Themesberg office">
                <div class="card-body">
                    <span class="h6 icon-tertiary small"><span class="fas fa-medal mr-2"></span>QueenofDecks</span>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-2">
            <div class="card bg-primary border-light shadow-soft">
                <img src="https://raw.githubusercontent.com/NishikantaRay/Nishikantaray.github.io/main/img/carry.jpeg" class="card-img-top rounded-top" alt="Themesberg office">
                <div class="card-body">
                    <span class="h6 icon-tertiary small"><span class="fas fa-medal mr-2"></span>CarryMinati</span>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-2">
            <div class="card bg-primary border-light shadow-soft">
                <img src="https://raw.githubusercontent.com/NishikantaRay/Nishikantaray.github.io/main/img/sanjay.jpeg" class="card-img-top rounded-top" alt="Themesberg office">
                <div class="card-body">
                    <span class="h6 icon-tertiary small"><span class="fas fa-medal mr-2"></span>Sanjay Dutt</span>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-2">
            <div class="card bg-primary border-light shadow-soft">
                <img src="https://raw.githubusercontent.com/NishikantaRay/Nishikantaray.github.io/main/face.jpg" class="card-img-top rounded-top" alt="Themesberg office">
                <div class="card-body">
                    <span class="h6 icon-tertiary small"><span class="fas fa-medal mr-2"></span>Face Illustrator</span>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-2">
            <div class="card bg-primary border-light shadow-soft">
                <img src="https://raw.githubusercontent.com/NishikantaRay/Nishikantaray.github.io/main/sergio.jpg" class="card-img-top rounded-top" alt="Themesberg office">
                <div class="card-body">
                    <span class="h6 icon-tertiary small"><span class="fas fa-medal mr-2"></span>Sergio</span>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-2">
            <div class="card bg-primary border-light shadow-soft">
                <img src="https://raw.githubusercontent.com/NishikantaRay/Nishikantaray.github.io/main/sergio2.jpg" class="card-img-top rounded-top" alt="Themesberg office">
                <div class="card-body">
                    <span class="h6 icon-tertiary small"><span class="fas fa-medal mr-2"></span>Sergio</span>
                </div>
            </div>
        </div>
    </div>
</div>
