<div id="particles-js"></div>
  <div class="pt-5 mt-5 container">
    
    <br />
    <br /><br />
    <div
      class="
        profile-image
        bg-primary
        mx-auto
        shadow-inset
        border border-light
        rounded-circle
        p-3
        ml-3
        mt-n5
      "
    >
      <img
        src="https://avatars.githubusercontent.com/u/62615392?v=4"
        class="card-img-top rounded-circle"
        alt="Nishikanta Ray"
      />
    </div>
    <div class="mx-auto mt-2 text-center" style="width: 300px">
      <h4 style="font-family: cursive;" >&nbsp; Hey, I'm Nishikanta Ray</h4>
      <h5 class="text-danger" style="font-family: cursive;">Web developer</h5>
    </div>
    <div class="mx-auto mt-3 " style="width: 380px;padding-left: 20px;">
      <button
        class="btn btn-icon-only btn-pill btn-twitter mr-3"
        type="button"
        aria-label="youtube button"
        title="youtube button"
      >
        <span aria-hidden="true" class="fab fa-twitter"></span>
      </button>
      <button
        class="btn btn-icon-only btn-pill btn-instagram mr-3"
        type="button"
        aria-label="youtube button"
        title="youtube button"
      >
        <span aria-hidden="true" class="fab fa-instagram"></span>
      </button>
      <button
        class="btn btn-icon-only btn-pill btn-youtube mr-3"
        type="button"
        aria-label="youtube button"
        title="youtube button"
      >
        <span aria-hidden="true" class="fab fa-youtube"></span>
      </button>
      <button
        class="btn btn-icon-only btn-pill btn-github mr-3"
        type="button"
        aria-label="youtube button"
        title="youtube button"
      >
        <span aria-hidden="true" class="fab fa-github"></span>
      </button>
      <button
        class="btn btn-icon-only btn-pill btn-facebook mr-3"
        type="button"
        aria-label="youtube button"
        title="youtube button"
      >
        <span aria-hidden="true" class="fab fa-facebook"></span>
      </button>
      <button
        class="btn btn-icon-only btn-pill btn-linkedin mr-3"
        type="button"
        aria-label="youtube button"
        title="youtube button"
      >
        <span aria-hidden="true" class="fab fa-linkedin"></span>
      </button>
    </div>
  </div>


  